<!DOCTYPE html>
<html>
<head>
  <title>Line Charts</title>
  <meta charset="utf-8">
  <style>
    path {
      fill: none;
      stroke: gray;
      stroke-width: 3px;
    }

    text {
      fill: black;
      font: 10px sans-serif;
      pointer-events: none;
      font-weight:  bold;
    }

    circle {
    fill: #ffab00;
    stroke: #fff;
  }

  </style>
</head>
<body>
    <script type="text/javascript" src="https://d3js.org/d3.v5.min.js"></script>
    <script>

        // Margins
        var margin = {top: 50, right: 50, bottom: 50, left: 50}
          , width = 1000 - margin.left - margin.right // Use the window's width
          , height = 500 - margin.top - margin.bottom; // Use the window's height

        // Model/Pipeline Parameters
        var params = {
            "ticker": "BTC",
            "training_sd": "2017-05-01", //mandatory
            "training_ed": "2018-05-01",
            "test_sd": "2018-05-02",
            "test_ed": "2019-02-01",
            "sv": 500000,
            "sma_window": 14,
            "bollinger_window": 14,
            "bollinger_stdvs": 3,
            "so_window": 14,
            "so_window_sma": 14,
            "obv": true,
            "macd": true,
            "include_sentiment": true,
            "mom_window": 14,
            "alpha": 0.1,
            "gamma": 0.9,
            "rar": 0.99,
            "radr": 0.8,
            "sma_threshold": 0.2,
            "so_ul": 80,
            "so_ll": 20,
            "mom_threshold": 0.2,
            "sentiment_threshold": 0.3
        };

        var queryString = Object.keys(params).map(function(key) {
            return key + '=' + params[key]
        }).join('&');
        console.log(queryString);

        var url = "http://127.0.0.1:5001/run_qlearner?" + queryString
        console.log(url);

        fetch(url)
        .then(function (response) {
          return response.json();
        }).then(function (data) {

            console.log(data);

        });

    </script>
<body>
</body>
</html>
<p id='embed'>{{embed}}</p>
<p id='mylog'/>
<body>